<body>
    <div id="bigDiv">
    <br>
    <div> <h1 style="text-align: center;" id="about"><span class="large_header"><strong> About This Calculator </strong></span></h1></div>
    <hr />
    <br>
    <div class="section">
        <br>
   <h2> GPA Calculator</h2> 
   <br>
   <p> This website is a student-created project for the Introduction to Programming FBLA Competition.  </p>
   <br>
   <br>
   <p> This GPA Calculator is a simple tool designed to help students calculate their Grade Point Average (GPA) quickly and accurately. Our target users would be all the middle school, high school and college students. 
It allows users to input their course grades and credits to determine their GPA. </p>
<br>
      <br>
      <p>Use this GPA calculator to calculate your GPA by entering your grade/percentage, credits earned, and course type for each course you have. 
      <br>
      <p>This GPA calculator also include a new Google Classroom-powered GPA calculator that can access your grades directly from Schoology to more accurately calculate your GPA and perform other tasks. 
      <br>
      <br>
      This GPA calculator has additional features such as the ability to edit the GPA scale, download a report of the information you filled in and a changeable grading scale to better fit your school's specific grading system.
      <br>
      <br>
      We provide interactive online help as well as FAQ search function.
      <br>
        <br>
      <div>

        <h2>Features</h2>
        <br>
        <p>
        - Calculate Semester GPA based on course grades and credits, can calculate total GPA by inputting the cumulative GPA</p>
        <p>- Support for letter grades (e.g., A, B, C) or percentage grades (e.g., 90%, 80%, 70%)</p>
        <p>- Support weighted and unweighted GPA calculation</p>
        <p>- Provide customized GPA report</p>
        <p>- Provide grade scale table for user to reference</p>
        <p>- Provide the ability to customize the GPA scale table</p>
        <p>- Provide persistent data storage for user input course information and the updated GPA scale table, equiped with dynamic/hot backup and restore mechanism</p>
        <p>- Provide interactive help menu powered by tawk.to and interactive FAQ search engine.</p>
        <p>- Provide About & FAQ sections for instructions and questions </p>
        <p>- User-friendly interface for easy input and calculation</p>
        
        </div>
        <div>
            <br>

        </div>
        <div>
        <h2> Technologies Used </h2>
        <br>
        <p>- Angular</p>
        <p>- HTML5</p>
        <p>- CSS3</p>
        <p>- Typescript</p>
        <p>- Google Classroom API service</p>
        <p>- Stackblitz</p>
        <p>- tawk.to Live Chat</p>
        </div>
        <br>
        <div>
        <h2> Acknowledgements</h2>
        <br>
        - Built by Reva Karri, Yu Zheng, and Yara Abu Saude.
        </div>
    </div>
    <br>
    <div><h1 style="text-align: center;"><span class="large_header"><strong> How to Use </strong></span></h1></div>
    <hr />
    <br>
    <div class="section">
    <div>
        <br>
        <h2>Main GPA Calculator </h2>
        <br>
        <p> 1. (Optional) Input your cumulative GPA and credit. Leave blank if you don't want to fill out current GPA.</p>
        <p> 2. Refer the GPA scale table, and update this table if you need to.</p>
        <p> 3. Input your semester name and choose either Letters or Percentages for the grade format.</p>
        <p> 4. Click "Add course", fill out the table with grade, credits and course types for each course.</p>
        <p> 5. You can dynamically input as many courses as you want. Also you can change your input or remove courses at any time.</p>
        <p> 6. Scroll up to see your Semester GPA and Total GPA.</p>
        <p> 7. Also check out more of the FAQ section for more answers on GPA-related questions.</p>
    </div>
    <div>
        <br>
        <h2>GPA Report</h2>
        <br>
        <p> 1. Select what information you want to include on the GPA Report. Here are the choices:
            <br>
            &emsp; a. Cumulative GPA
            <br>
            &emsp; b. Unweighted GPA
            <br>
            &emsp; c. Weighted GPA
            <br>
            &emsp; d. Total GPA
            <br>
            &emsp; e. Course Details
        </p>
        <p> 2. Give the GPA Report a file name</p>
        <p> 3. (Optional) Give the GPA Report a file extension if you want it to be in a specific format (default is .txt) </p>
        <p> 4. Click the "Generate" button to download </p>
        <p> 5. Open up the newly downloaded file to view your GPA Report! </p>
    </div>
    <div>
        <br>
        <h2> Customizable Grading Scale </h2>
        <br>
        <p> 1. On the Main Page, scroll down until you see the Grading Scale Reference Table </p>
        <p> 2. Double Click on the cell you would like to change</p>
        <p> 3. That row should become editable and now you can change the value of that cell</p>
        <p> 4. Click out of that cell to save the change </p>
        <br>
        <h4> Download and Load a Previous Custom Grading Scale: </h4>
        <p> 1. To download a grading scale, click the "Backup Scale Table" button </p>
        <p> 2. The file should be saved into your local drive</p>
        <p> 3. If you want to load a grading scale, then click on the "Choose File" button to choose a file to upload</p>
        <p> 4. Choose the file and click Open</p>
        <p> 5. With the file chosen, click the "Restore Scale Table" button to upload the grading scale</p>
    </div>
    <!-- <div>
        <br>
        <h2> Google Classroom GPA Calculator </h2>
        <br>
        <p> 1. Find the "Google Classroom Calculator" button on the navigation menu on the top </p>
        <p> 2. Clicking on it should bring you to the login page</p>
        <p> 3. Sign in using your Google Account </p>
        <p> 4. From there, you should be able to see information from your Google Classroom account </p>
    </div> -->
    
</div>
    <br>
    <div>
        <h1 style="text-align: center;"><span class="large_header"><strong> Frequently Asked Questions - FAQ</strong></span></h1>
        <hr/>
        <br>
        <div id="instructionTitle">
        <h4> Search "Frequently Asked Questions" section:  </h4>
        </div>
    </div>
    <tr>
        <td>
        <input
            id="searchKeyword"
            placeholder="Search with keyword"
            class="form-control"
            [(ngModel)]="searchKeyword"
            [ngModelOptions]="{ standalone: true }"
        />
        </td>
        <td>
        <button (click)="searchFAQ(searchKeyword)">Search</button>
        </td>
    </tr>

    <div *ngIf="faq_1 || faq0">
        <br>
        <h2> GPA Calculator Help</h2>
    </div>

    <div *ngIf="faq_1" class="entry-content">
        <br>
        <button (click)="changeQ_1()">+ How do I use this GPA Calculator?</button>
        <div *ngIf="showQ_1">
        <p>Follow these steps to calculate your GPA:</p>
        <ol>
            <li>
            (Optional) Input your cumulative GPA and credits. Leave
            blank if you don't want to fill out current GPA.
            </li>
            <li>
            Input your semester name and choose either Letters or
            Percentages for the grade format.
            </li>
            <li>
            Fill out the table with grade, credits and course types for
            each course.
            </li>
            <li>
            You can input up to 8 courses. If you don't need all of
            them, just leave it blank.
            </li>
            <li>Scroll up to see your Semester GPA and Total GPA.</li>
            <li>
            Also check out more of the FAQ section for more answers on
            GPA-related questions.
            </li>
        </ol>
        </div>
    </div>

    <div *ngIf="faq0" class="entry-content">
        <br>
        <button (click)="changeQ0()">+ How does the GPA Report work?</button>
        <div *ngIf="showQ0">
        <p>
            Our GPA Report feature generates a Customizable GPA Report
            using your GPA information. You can customize what information
            is shown on your GPA Report by selecting what you want from
            the 5 checkboxes. A GPA Report with all of the options
            selected would show your cumulative GPA, weighted GPA,
            unweighted GPA, total GPA, and course details. After you have
            customized what information you want to see on the GPA Report
            you can give the file a name and an extension. The file name
            cannot be an empty string, otherwise, an auto-generated name
            is given to the file. The GPA Report automatically downloads
            as a TXT file; however, if you want to download the GPA Report
            as another file type, then you can change the File Extension
            box. For example, if you want to download the GPA Report as a
            Microsoft Word document instead of a normal text file, then
            you can input "docx" into the File Extension box. Once you're
            done with all of that, you can click the red button to
            download your GPA Report.
        </p>
        <br />
        <p>
            Here is an example of what a GPA Report with all of the
            courses filled out and all of the options selected would look
            like:
        </p>
        <br />
        <ol id="gpaReportExample">
            <li>
            This is the automatically generated GPA report for semester
            "semester 1"
            </li>
            <li>Your Cumulative GPA is 3.3.</li>
            <li>Your Weighted GPA is 3.44.</li>
            <li>Your unweighted GPA is 3.</li>
            <li>Your total GPA is 3.08.</li>
            <br />
            <li>Below is the table showing the details:</li>
            <li>|Course Name | Grade | Credits | Course Type</li>
            <li>|c1 | A- | 8 | regular |</li>
            <li>|c2 | B | 7 | honors |</li>
            <li>|c3 | B- | 6 | ap |</li>
            <li>|c4 | C | 5 | regular |</li>
            <li>|c5 | D- | 4 | honors |</li>
            <li>|c6 | B+ | 9 | ap |</li>
            <li>|c7 | A- | 8 | regular |</li>
            <li>|c8 | B+ | 7 | honors |</li>
        </ol>
        </div>
    </div>

    <div *ngIf="faq1 || faq2 || faq3">
        <br>
        <h2> Manual GPA Calculation Help </h2>
    </div>

    <div *ngIf="faq1" class="entry-content">
        <br>
        <button (click)="changeQ1()">+ How do I calculate my High School Semester GPA?</button>
        <div *ngIf="showQ1">
        <p>Follow these steps to calculate your GPA:</p>
        <ol>
            <li>
            Find your grades for each of your courses and list them out.
            If you only have percentages, convert your percentages into
            a letter grade for the simplicity of this guide. You can use
            our grading scale table to convert your percentages into
            letters.
            </li>
            <li>
            List out the number of credits earned for each of your
            courses along with your grades.
            </li>
            <li>
            Use our table above to convert your letter grades to points
            OR if your school uses a different grading scale, ask your
            school for their own grading scale and use that to convert
            your letter grades to points. .
            </li>
            <li>Add up all your points from each of your courses.</li>
            <li>
            Count up how many total credits you earned for the semester.
            </li>
            <li>
            Divide the total amount of points by the total amount of
            credits.
            </li>
            <p>You have now calculated your GPA for the semester.</p>
            <p>
            If doing this manually seems like too much work, save the
            effort by using our GPA calculator to calculate your GPA for
            you within seconds!
            </p>
        </ol>
        </div>
    </div>

    <div *ngIf="faq2" class="entry-content">
        <br>
        <button (click)="changeQ2()">
        + What affect do AP and Honors courses have on my GPA?
        </button>
        <div *ngIf="showQ2">
        <p>
            AP and Honors courses do not impact your Unweighted GPA,
            however they are very important for calculating Weighted GPA.
            AP and Honors courses both add "weight" to your points. What
            this means is that AP and Honors courses add "extra" points in
            addition to the points you have already earned for the course.
            Typically, Honors courses have a weight of +0.5 (meaning 0.5
            extra points are added to the amount of points earned for that
            course) and AP courses have a weight of +1.0. This is the
            weight that this calculator uses, however this may vary from
            school to school. Some schools do not give the weighted points
            if you fail the class, meaning a D or below. Talk to your
            school to understand your school's specific grading scale in
            terms of AP and Honors classes.
        </p>
        </div>
    </div>

    <div *ngIf="faq3" class="entry-content">
        <br>
        <button (click)="changeQ3()">
        + How can I calculate my total GPA (using cumulative GPA)?
        </button>
        <div *ngIf="showQ3">
        <p>
            Calculating you total GPA using cumulative GPA is very similar
            to calculating your semeseter GPA.
        </p>
        <ol>
            <li>
            Get your cumulative GPA and the amount of credits you have
            earned so far before the semester. If you are having trouble
            finding this, your transcipt is a good place to look.
            </li>
            <li>
            Use the same process from calculating your semester GPA to
            list out your total points & total credits earned for the
            semester.
            </li>
            <li>
            Add your cumulative GPA with your total points, then add all
            your credits earned before the semester with the ones you
            earned for the semester.
            </li>
            <li>
            Divide the sum of your cumulative GPA and the total points
            with the credits earned so far to get your total GPA.
            </li>
        </ol>
        </div>
    </div>

    <div *ngIf="faq4 || faq5">
        <br>
        <h2> AP & Honors Questions </h2>
    </div>

    <div *ngIf="faq4" class="entry-content">
        <br>
        <button (click)="changeQ4()">+ Should I take a lot of AP and Honors courses?</button>
        <div *ngIf="showQ4">
        <p>
            This decision really depends on your needs. AP & Honors
            courses are often more difficult and have a lot more course
            load than normal courses, so if you have many extracurricular
            commitments or you have not performed well in that certain
            subject previously, take these into consideration when
            thinking about taking these courses. You should also consider
            if you have interest in or if you have performed well in that
            certain subject. Talking to your teacher about this is
            essential as they probably know your skills the best and can
            predict how you would perform in a college-like course.
            Colleges want to see you work hard and succeed, which some
            students show by taking AP & Honors courses and some students
            may not need AP & Honors courses to show this.
        </p>
        </div>
    </div>

    <div *ngIf="faq5" class="entry-content">
        <br>
        <button (click)="changeQ5()">
        + Is it more important to take more AP and Honors classes or is
        it more important to have better grades in less challenging
        classes?
        </button>
        <div *ngIf="showQ5">
        <p>
            Taking AP & Honors classes and having a good GPA are both very
            important. Colleges want to see you work hard and succeed by
            taking AP & Honors classes, however, if you are earning C's in
            these classes, it shows that you are not ready for those
            challenging classes. However, if you are earning A's or B's in
            Honors or AP classes, this is generally more favorable than
            earning A's in less-challenging courses. It really depends on
            if the course is suitable for you.
        </p>
        </div>
    </div>

    <div *ngIf="faq6 || faq7 || faq8 || faq9">
        <br>
        <h2> GPA Importance Questions </h2>
    </div>

    <div *ngIf="faq6" class="entry-content">
        <br>
        <button (click)="changeQ6()">+ What is considered a good GPA?</button>
        <div *ngIf="showQ6">
        <p>
            This question is a bit subjective, as it really depends on
            your goals for high school. High schoolers should aim for a
            GPA of 3.3 or higher especially if you are interested in
            attending top-tier colleges like the Ivy League, since a lot
            those schools consider 3.3 as a minimum. If you want to
            challenge yourself or aim for Valedictorian, try going for a
            GPA of 4.0 or even higher(if your school uses a weighted GPA
            scale)!
        </p>
        </div>
    </div>

    <div *ngIf="faq7" class="entry-content">
        <br>
        <button (click)="changeQ7()">+ What is the highest high school GPA possible?</button>
        <div *ngIf="showQ7">
        <p>
            If your school uses an unweighted GPA system, then the highest
            possible GPA is 4.0. If your school uses a weighted GPA
            system, it's possible to even reach a GPA of 5.0, however it's
            highly unlikely.
        </p>
        </div>
    </div>

    <div *ngIf="faq8" class="entry-content">
        <br>
        <button (click)="changeQ8()">+ Is high school GPA important for college?</button>
        <div *ngIf="showQ8">
        <p>
            High school GPA is probably one of the most important factors
            for college admissions. Many colleges have a minimun GPA
            requirement for admission. The importance of GPA to colleges
            varies from college to college. Some may emphasize GPA a lot
            while others may value other factors more. It is best you
            research individual colleges to understand their admission
            critieria to get a better understanding of this.
        </p>
        </div>
    </div>

    <div *ngIf="faq9" class="entry-content">
        <br>
        <button (click)="changeQ9()">
        + If I have a low GPA, does that mean I cannot go to a good
        college anymore?
        </button>
        <div *ngIf="showQ9">
        <p>
            A low GPA does present some pretty significant challenges for
            college admissions, however, that doesn't mean you have no
            chance of making it into a good college anymore. Colleges
            consider many factors when review applications including
            extracurriculat activities, essays, recommendation letters,
            and standardized test scores. However, a low GPA still does
            present some significant challenges, so you should still try
            to get a better GPA.
        </p>
        </div>
    </div>

    <br>
</div>
</body>